<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="CrestronQuotes" connectionString="server=NJ6V-DELLSQL.crestron.crestron.com;database=CrestronQuotes;uid=quotes;pwd=quotes"/>-->
    <add name="Training" connectionString="server=10.129.3.36;database=Trainingapps;uid=training;pwd=P3!d4$4FFh2@c;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>

    
    <!-- TEST -->
    <add key="LocationId" value="000"/>
    <add key="CertificationID" value="34"/>
    <add key="ClassEndDate" value="200908"/>
    <add key="Employee" value="false"/>
     


  </appSettings>
</configuration>